@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.robot_gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #00f6ff 100%);
  filter: blur(123px);
}
